@using ogrencibilgileri
@namespace ogrencibilgileri.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
      </head>
<body>
    <table>
        <tr>
            <td>
                TC:
                <input type="text" name="tc" />
                <br />
                AD:
                <input type="text" name="ad" />
                <br />
                SOYAD:
                <input type="text" name="soyad" />
                <br />
                DOÐUM TARÝHÝ:
                <input type="datetime" name="dtarih" />
                <br />
                CÝNSÝYET:
                <input type="text" name="cinsyet" />
                <br />
                OKUL ADI:
                <input type="text" name="okulad" />
                <br />

                BÖLÜM:
                <input type="text" name="bolum" />
                <br />
                SINIF:
                <input type="text" name="sinif" />
                <br />
                <button id="btn">Ekle</button>
            </td>
            <td>
                TC:<input type="text" name="verigetir" />
                <br />

                <button id="btn2">Getir</button>


            </td>
        </tr>
    </table>
    <script>

        $(document).ready(function () {
            $("#btn").click(function () {

            });
        });
    </script><br /><br />


</body>
</html>